@import 'app_layout.less';

body>section>form
{
    margin: 0 0 0 80px;
    .box-shadow(10px, 10px, 10px, 0, #45899a);
    border-bottom: 2px solid @strip;
    .required
    {
        &:before
        {
            content: '*';
        }
    }
    label, input, select
    {
        font-size: 18px;
    }
    input
    {
        background-color: transparent;
        border: 2px solid @light-grey;
        padding: 5px;
        .box-shadow(inset, 0, 0, 10px, 0, @light-grey);
        &:focus
        {
            .box-shadow(inset, 0, 0, 20px, 0, @light-grey);
            outline: none;
        }
    }
    a
    {
        .button-lcd;
        color: @black;
        //padding: 3px;
        border: 1px solid @strip;
        font-size: 16px;
    }
    &>h3
    {
        position: relative;
        z-index: 100;
        padding: 20px;
        margin: 0;

        border-radius: 10px 0 10px 0;
        text-shadow: 1px 1px 2px #ffcf99, 0px 0px 2px #734817;
        .box-shadow(0, 5px, 3px, 0, #7f4c10);
        font-size: 22px;
        color: @menu-bg;
        background-color: @strip;
    }
    .error
    {
        font-size: 20px;
        font-family: "Courier New", Courrier, monospace;
        color: @strip;
        text-shadow: none;
    }

    ul.error
    {
        padding: 0;
        margin: 0 0 0 10px;
        font-size: 14px;
        font-family: "Courier New", Courrier, monospace;
    }
    &>ul
    {
        padding: 5px 0 0;
        margin: 0;
        font-familly: verdana, helvetica, sans-serif;
        .glass(bottom);
        &>li
        {
            margin: 20px 0 20px 20px;
            padding: 0;
            &:last-child
            {
                margin: 0;
            }
            &>label
            {
                display: inline-block;
            }
            &>input[type=submit]
            {
                .button-lcd;
                border-bottom: none;
                margin: 0;
            }
            &>dl>dd
            {
                margin: 10px 0 0 40px;
                label, input, select
                {
                    font-size: 16px;
                }
            }
        }
    }

}