{% extends "ArnaudMainBundle::layout.html.twig" %}

{% block head_style %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main_layout.css') }}">
{% endblock %}

{% block content %}
<article>
    <h3>Bienvenue sur mon site personnel</h3> 
    <div>
        <p>Ceci est une jeune version mais vous pouvez déjà consulter mon <a href="{{ path('arnaud_cv_index') }}">curriculum vitae</a>.</p>
        <p>Du nouveau contenu - concernant mes centres d'intérêts et moi-même -  sera ajouté régulièrement. Promis !</p> 
        <p>Merci de votre visite.</p>
        <p><em>Arnaud</em></p>
    </div>
</article>
{% endblock %}